@font-face {
    font-family: 'SchoolKX_new.ttf';
    src: url('../fonts/SchoolKX_new.ttf');
}
html {
    font-family: 'SchoolKX_new.ttf';
    src: url('../fonts/SchoolKX_new.ttf');

}

body{
    background-color: #ffefc5;
}

/*.grid-container{
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'menu main main main main right'
        'menu footer footer footer footer footer';
    grid-gap: 40px;
}*/

h1{

}

box{
    padding: 5px 5px;
    border: solid;
}

invis{
    visibility: hidden;
}