@font-face {
    font-family: 'SchoolKX_new.ttf';
    src: url('../fonts/SchoolKX_new.ttf');
}
html {
    font-family: 'SchoolKX_new.ttf';
    src: url('../fonts/SchoolKX_new.ttf');


}

body{
    background-color: #ffefc5;
}

/*.grid-container{
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'menu main main main main right'
        'menu footer footer footer footer footer';
    grid-gap: 40px;
}*/

h1{

}

box{
    padding: 10px 10px;
    margin: 10px;
    border: solid;
    background-color: white;
    position: relative;
    left: 1180px;
    bottom: 240px;
    font-size: xxx-large;
}

#B1{
    padding: 10px 15px;
}

button{
    padding: 20px 20px;
    margin: 10px;
    border: solid;
    background-color: lightgrey;
    position: relative;
    left: 1100px;
    bottom: 460px;
    font-size: xxx-large;

}

img{
    position: relative;
    top: 100px;
    left: 100px;
}

input[type=image] {
    padding:5px 15px;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    left: 1700px;
    top: 750px;
    width: auto;
}